header,
footer {
    background-color: gray;
    height: 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: lightgray;
}

section {
    /* display: flex; */
    align-items: center;
    justify-content: space-evenly;
    /* padding: 30px; */
    margin-top: 30px;
    margin-bottom: 30px;
}

.three-wide {
    display: flex;
    justify-content: space-between;
}

.two-wide {
    display: flex;
    justify-content: center;
}

.paragraph {
    display: flex;
    justify-content: left;
    padding: 20px;
    overflow: scroll;
}

footer {
    display: flex;
    justify-content: left;
    align-items: center;
}

main {
    width: 960px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

body {
    align-items: center;
    justify-content: center;
}

.two-wide,
.callToAction {
    align-self: auto;
}

.callToAction {
    width: 100px;
    transition: font-size .350s ease;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 30px;
}